/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

img{
    display: inline-block;
    width: 100%;
}

/*COMMON*/

.menu{
    list-style-type: none;
}

.menu li{
    display: inline-block;
}

.menu li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
}

.button{
    background-color: green;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}


.grey-block{
    background-color: lightgrey;
    text-align: center;
    padding: 25px ;
    line-height: 35px;
}

.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*HEADER*/

header{
    background-color: #102061;
    height: 500px;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position:115% 115%;
}

.container{
    width: 80%;
    margin: auto;
     
}


.logo{
    background-size: 10%;
}

.menu-center{
    background-size: 50%;
    padding: 12px 40px;
}

.menu-right{
    background-size: 40%;
    text-align: right;
    padding: 12px 40px;
}

.menu .login{
    padding: 3px 15px;
    border: 1px solid white;
    border-radius: 3px;
}

.menu .button{
    padding: 4px 15px;
}

.teaser{
    width: 40%;
    margin-top: 13%;
}
#title{
    color: white;
    font-size: 40px;
}

.teaser .button{
    padding: 15px 10px;
    margin-top: 10px;
}
/*FINE HEADER*/

/*MAIN*/

.grey-block h4{
    color: grey;
}

.grey-block h3{
     font-size:25px ;
}

.col-left,
.col-center,
.col-right{
    width: 30%;

}

.col-left{
    background-color: red;
    
}
.col-center{
    background-color: blue;
}
.col-right{
    background-color: pink;
}
/*MAIN*/